# Python caches
__pycache__/
*.pyc

# Virtual Environments (if you use one)
venv/
env/

# Databases
*.db
*.sqlite3

# Uploaded Media (Don't upload users' photos to your code repo!)
static/uploads/*
!static/uploads/.gitkeep

# Environment variables (API keys)
.env